.container{
    width: 100%;
    background: red;
}

.containerCards{
    display: flex;
    margin-bottom: 2rem;
}

.card{
    width: 25rem;
    margin: 5px
}
a{
    text-decoration: none;
}
footer{
    color: #fff;
    width: 100%;
}